<div class="container">
  <h1>Create a new user</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>

      <div class="controls">
        <input type="text" id="tool.name" ng-model="tool.name" placeholder="Name"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">Descripton</label>

      <div class="controls">
        <input type="text" id="description" ng-model="tool.description" placeholder="Description"/>
      </div>
    </div>
	<div class="control-group">
      <label class="control-label" for="version">Version</label>

      <div class="controls">
        <input type="text" id="version" ng-model="tool.version" placeholder="Version"/>
      </div>
    </div>
	<div class="control-group">
      <label class="control-label" for="type">Type</label>

      <div class="controls">
        <input type="text" id="type" ng-model="tool.type" placeholder="Type"/>
      </div>
    </div>
	<h1> </h1>
    <div class="control-group">
      
        <a ng-click="updateTool()" class="btn btn-small btn-primary">Update Tool</a>
      
    </div>
  </form>
</div>